.top-bar {
    background-color: #00a075;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: white;
}
.top-bar .title {
    margin-left: 25px;
    font-size: 25px;
}
.top-bar li{
    margin: 15px;
    display: inline;
    list-style: none;
    margin-right: 25px;
}
h2{
    color: #0ca848;
    font-size: 50px;
    margin-left: 50px;margin-top: 150px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h3{
text-align: center;
margin-bottom: 0px;
margin-top: 150px;
font-size: 40px;
}
button{
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
    width: 120px;
    height: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    margin-left: 50px;
    margin-top: 10px;
    
    
}
img{
    width: 250px;
    margin-left: 800px;
    padding: 10px;
   
}


