

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}


h1 {
    margin-bottom: 10px;
    font-size: 2em;
    color: #c3920d;
}


table {
    width: 70%;
    max-width: 600px;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


th {
    width: 1200px;
    height: 40px;
    background-color: #5e0d6d;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ddd;
}


td {
    padding: 20px;
    border: 1px solid #ddd;
    font-size: 1em;
    height: 60px;
}
