/* Apply a pink background to the body */
body {
    margin: 0;
    padding: 0;
    background-color: #e28fc2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    display: flex;
    width: 800px;
    box-shadow: 8px 4px 8px rgba(0, 0, 0.5, 0.5);
    border-radius: 10px;
    
}


.image-section img {
    width: 400px;
    height: 100%;
    
}


.form-section {
    background-color: rgba(32, 31, 31, 0.977);
    color: white;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-section h2 {
    text-align: center;
    margin-bottom: 20px;
}


.form-section label {
    margin-top: 10px;
    margin-bottom: 5px;
    
    display: block;
    font-weight: bold;
}

.form-section input, 
.form-section select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
   
   
}


.form-section button {
    background-color: limegreen;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    
    font-size: 16px;
    margin-top: 10px;
    align-items: center;
}

.form-section button:hover {
    background-color: green;
}
.form-section button{
    margin-left: 100px;
    width: 120px;
    border-radius: 20px;
}
.signup-form input{
    background-color: rgba(32, 31, 31, 0.977);
    border-bottom:1px solid white ;
}
.signup-form select{
    background-color:rgba(32, 31, 31, 0.977); 
    font-size: 17px;
    color:white ;
}