body{
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.table{
   
    width: 50%;
    margin:5px;

   
}
.table th{
    width: 150px;
    background-color: rgb(127, 228, 12);
    padding: 25px;
    border-style: solid;
    border-color:  rgb(127, 228, 12);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    height: 20px;
}
.table td{
    align-items: center;
    padding: 5px;
    padding-left: 65PX;
    border-style: solid;
    border-color: rgb(158, 157, 157) ;
    height: 35px;
    border-radius: 3px;
    background-color: rgb(206, 240, 205);
}