.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    border: 5px;
    border-width: 5px;
}
.grid-item{
    border: 2px solid black;
    padding: 10px;
}